name: BackstopJS
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2                     # clone repo to the machine
      - uses: actions/setup-node@v2                   # install nodeJS
        with:
          node-version: '14.x'
      - name: Install dependencies                    # install dependencies from package-lock.json
        run: npm install -g backstopjs
      - name: Run reference                     # start tests
        run: backstop reference
      - name: Run test                     # start tests
        run: backstop test
      - uses: actions/checkout@v2                     # clone branch with report to current branch
        if: always()
        with:
          repository: chabanstas/BackstopJS
          ref: report
          path: backstop_data/bitmaps_test
      - name: Push Build To Other Branch
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: report
          FOLDER: bitmaps_test
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Build: ({sha}) {msg}"
